<%= display_error %>
<form action='/signup' method="POST">
  Username:<br>
  <input type="text" name="user[name]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  Password Confirmation:<br>
  <input type="password" name="user[password_confirmation]"><br>
  <input type="submit" value="Signup">
</form>
