.test-header {
  height: 100vh;
  width: 100%;
}


.test-under {
  height: 30vh;
  width: 100%;
  text-align: center;
  background-color: rgb(55, 55, 55);
}

.transparent {
  background:rgba(126, 126, 126, 0.5)
}